@font-face {
    font-family: 'Inconsolata';
    src: local("Inconsolata"),
      url(assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf) format("truetype");
}

@font-face {
    font-family: 'DejavuSansMono';
    src: local("DejavuSansMono"),
      url(assets/fonts/DejavuSansMono.ttf) format("truetype");
}